@import "bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Anton');
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
// @import url('https://fonts.googleapis.com/css?family=Montserrat');
// @import url('https://fonts.googleapis.com/css?family=Prompt');
// @import url('https://fonts.googleapis.com/css?family=Poiret+One');
// @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('bedge_grunge.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}

.navbar {
  background: image_url('mochaGrunge.png');
  box-shadow: 0px 3px 3px #E5E4D4; /*   #6F6E5E;  */ 
}

.navbar-inverse .navbar-brand {
  color: #E2E1D7; // C4C2A4;
  // font-family: 'Anton', sans-serif;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  // font-family: 'Prompt', sans-serif;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Fascinate Inline', cursive;
  font-family: 'poiret_oneregular', sans-serif;
  font-weight: 600;
}

.navbar-inverse .navbar-brand:hover {
  color: #FEFAF1;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.page-link {
    color: #E2E1D7;
    background: image_url('mochaGrunge.png');
    border-color: #74736F; //#E5E4D4;
}

.pagination {
  padding: 20px;
}
.pagination a:hover {
  color: #FEFAF1;
  border-color: #94938F;
}

.page-item.active .page-link{
    background: image_url('bedge_grunge.png');
    color: #414030;
    border-color: #74736F;
}
